.student-card {
  width: 100%;
  display: flex;
  border: solid grey 0.5px;
  padding: 1rem 0;
  .student-avatar {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .avatar {
      position: absolute;
      top: 0;
      border: solid grey 1px;
      border-radius: 50%;
      width: 60%;
      height: auto;
      overflow: hidden;
      margin: 1rem;
    }
  }
  .student-details {
    width: 70%;

    .userName {
      margin: 0.5rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
    }
    .detail {
      width: 100%;
      color: grey;
      padding-left: 1rem;
    }
  }
  .btn-grade {
    border: none;
    position: relative;
    .icon-grade {
      position: absolute;
      color: grey;
      font-size: 1.5rem;
      top: 0;
      right: 0;
    }
  }
}
